

div#menu-container {
	width : 1850px;                                                       /* largura da interface */
	background-color: #ffffff;                                              /* cor da interface */   
	margin: 10px 10px 10px 10px;                                            /* margem 10px topo, 10px direita , 10px de baixo e 10px esquerda as margens esquerda e direita como AUTO (preenche a margem automáticamente */ 
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);                                /* sombra na margem */
	padding: 10px;                                                          /* margem interna da interface, se os 4 lados forem iguais, basta informar o parâmetro só uma vez */
}




/*Cabeçalho da Página ------------------------------------------------------------------------------------------------------*/


/*Sistema de Relatórios */
header#cabecalho hgroup h1 {
	padding-top: 0px;
	padding-left: 400px;
	padding-bottom: 0px;
    text-align: center;              
	}

	
/*Logo */
img#icone {	
	position: absolute; 
	left: 170px;  
	top: 1px;
}
	
	
	
	
/* Corpo da Página -----------------------------------------------------------------------------------------------------------*/

body, 
.menu,
.sub-menu {
    margin: 0px;
    padding: 0;
}

	
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
    width: auto; 
	
    
}


.menu,
.sub-menu {
    list-style: none;
 	padding-left: 350px;
	background: #3C84FF; /*cor azul do site da J */
	
}

.sub-menu {
    background: #3C84FF;
    padding: 0px;
	
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
   /* text-transform: uppercase;*/
    font-weight: 500;
    margin-right: 90px;
    width: auto;  
    white-space: nowrap;
	

	
}


/*aqui fica aniversariantes, consulta clientes na tela */
.menu li ul li {
	list-style: none;
}

.menu li {
    position: relative;	
}


.menu li {
    float: left;

}


.menu li:hover > .sub-menu {
    display: block;
}


.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;	
}

.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}



/* Área de Rodapé - Footer   ---------------------------------------------------------------------------------------------------- */

footer#rodape {
	clear: both;                      /* Limpa ambos os lados direita e esquerda e joga o rodapé para baixo */
        padding-top: 730px;
	}

footer#rodape p {
/*	padding-top : 730px; */
	text-align: center;                /* Tudo que for parágrafo dentro do rodapé vai ficar centralizado */
/*	padding-left : 1px;*/
/*	padding-right : 1px;*/
	     
    }

/*footer#rodape a  {
	padding-top : 620px;
	text-align: center;                 /* Tudo que for parágrafo dentro do rodapé vai ficar centralizado 
	padding-left : 910px;
	padding-right : 0px;
	     
    } */

